.container {
    display: flex;
    align-items: flex-start;
    background-color: #fff;
    border: 1px solid #cfd9de;
    border-radius: 16px;
    padding: 12px;
    width: fit-content;
}

.container img{
    width: 48px;
    height: 48px;
    border-radius: 50%;
    margin-right: 12px;
}

.content{
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    align-items: baseline;
}

.name {
    color: #000;
    font-size: 15px;
    font-weight: bold;
    margin-right: 4px;
}

.details{
    color: #71767b;
    font-size: 12px;
}

.info {
    color: #0f1419;
    font-size: 15px;
    margin: 2px 0;
}

.svgs {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.action {
    display: flex;
    align-items: center;
}

.action svg {
    fill: #536471;
    margin-right: 4px;
}

.action-count {
    color: #536471;
    font-size: 13px;
}


